<ul class="meal-list">
    <li *ngFor="let meal of asyncMeals | async | paginate: { id: 'server', itemsPerPage: 20, currentPage: p, totalItems: total }">
        {{ meal }}
    </li>
</ul>

<!-- 
    <div *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }">
  {{ item }} 
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls> 
-->

<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>